@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
@import url('https://fonts.googleapis.com/css?family=Holtwood+One+SC');

.kw{
    font-family: verdana;
    text-align: center;
    font-size: 30px;
    color: rgb(0, 255, 255);
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
}

.buttonet{
    text-decoration: none;
    font-size: 15px;
    color: #FFFFFF;
    background: linear-gradient(to bottom, #5A86FF, #335AD0);
    border: solid #7CAFFF 1px;
    border-radius: 5px;
    padding:10px;
    text-shadow: 0px 1px 2px #000000;
    box-shadow: 0px 1px 5px #0D2444;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
    font-family: "Original Surfer", cursive;
}
.fase{
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF;
    background: linear-gradient(to bottom, #5A86FF, #335AD0);
    border: solid #7CAFFF 1px;
    border-radius: 5px;
    padding:15px;
    text-shadow: 0px 1px 2px #000000;
    box-shadow: 0px 1px 5px #0D2444;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

.fase2{
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    background: linear-gradient(to bottom, #5A86FF, #335AD0);
    border: solid #7CAFFF 1px;
    border-radius: 5px;
    padding:15px;
    text-shadow: 0px 1px 2px #000000;
    box-shadow: 0px 1px 5px #0D2444;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

/* style for fitness page */

#fitness{
    font-family: "Holtwood One SC", serif;
    text-align: center;
    font-size: 35px;
    color: rgb(255, 0, 0);
    background-color: rgb(84, 84, 84);
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
}


.container {
  position: relative;
  width: 100%;
}

.image {
    border-radius: 20px;
	display: block;
	width: 350px;
	height: auto;
	margin-left: auto;
    margin-right: auto;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: auto;
	height: auto;
	opacity: 0;
	transition: .5s ease;
	background-color: #008CBA;
	border-radius: 20px;
}

.container:hover .overlay {
  opacity: 1;
}

.text4 {
	font-family: "Architects Daughter", cursive;
	font-weight: bold;
	color: rgb(255, 0, 162);
	text-shadow: rgb(0, 0, 0) 7px 1px 2px;
	text-align: center;
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	}

table.inbox
{ 	
	border-spacing: 20px;
	border-collapse: separate;
	width: 100%;
}

td {width: 33.33%}